#card-container-style{
    h1{
        text-align: center;
        margin-bottom: 1rem;
        color:#001973;
      }
    padding: 2rem 0;
    .grid-container{
        width: 85%;
        margin: 0 auto;
    }

    .card-wrapper{
        padding: 0.5rem;
    }
}