#parallax-styles{
    .background-section{
        background-image: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)),url(../../img/cta-bg.jpg);
        background-repeat: no-repeat;
        height: 60vh;
        background-attachment: fixed;
        background-size: cover;
        color: #fff;
    }

    .content-box{
        width: 90%;
        margin: 0 auto;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content{
        text-align: center;
        width: 63%;
    }

    .content h1{
        padding: 0.5rem 0;
    }

    .content p{
        padding: 0.5rem 0;
        line-height: 1.5rem;
    }

    .button-spl{
        padding: 0.625rem 2rem;
        background: transparent;
        border: 2px solid white;
        margin: 0.5rem 0;
        border-radius: 0.3rem;
    }

    .button-spl:hover{
        background: #0d42ff;
        border: 0;
    }

}